body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(29, 143, 163);
    color: white;
}

hr {
    width: 30%;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

/*header*/

header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(20, 101, 116);
    padding: 20px;
}

h1 {
    display: inline-block;
    font-size: 60px;
    margin-left: 15px;
}

nav {
    font-size: 25px;
    float: right;
    margin-top: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav a:hover {
    color:rgb(43, 204, 233);
}

/*figure*/

figure {
   position: relative; 
}

#starry-night {
    width: 100%;
    height: 300px;
    position: relative;
}

#myself {
    position: absolute;
    width: 210px;
    height: 260px;
    left: 11%;
    top: 6%;
    border-radius: 105px;
    border: 2px solid white;
}

/*about me*/

#about-me {
    margin: 10px 30px;
    line-height: 1.5;
    text-align: center;
}

/*projects*/

#projects {
    margin: 30px 10px 10px 10px;
    text-align: center;
}

/*big image*/
#first-project {
    text-decoration: none;
    color: white;
    position: relative;
    
}

#first-project img {
    width: 50%;
    height: 400px;
    margin: 5px 5px 5px 5px;
    border-radius: 20px;
    border: 5px dashed rgb(20, 101, 116);
}

#first-project p {
    background:rgb(20, 101, 116);
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 5px;
    border-radius: 10px;
}

#first-project img:hover {
    border-color: rgb(90, 223, 247);
    transform: scale(1.1);
    border-width: 7px;
}

/*small images*/
.other-projects {
    display: inline;
    text-decoration: none;
    color: white;
    position: relative;
}

.other-projects img {
    width: 45%;
    border-radius: 20px;
    border: 5px dashed rgb(20, 101, 116);
    margin: 20px;
}

.other-projects p {
    background:rgb(20, 101, 116);
    position: absolute;
    left: 35px;
    bottom: 35px;
    padding: 5px;
    border-radius: 10px;
}

.other-projects img:hover {
    border-color: rgb(90, 223, 247);
    transform: scale(1.1);
    border-width: 7px;
}

/*contact me*/
#contact-me {
    text-align: center;
}

#contact-me p {
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact-me li {
    display: inline;
    padding: 10px;
}

#contact-me a {
    color: white;
}

#contact-me a:hover {
    color:rgb(15, 79, 90);
}

/*resumé*/
#resumé {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#resumé a {
    text-decoration: none;
    color: white;
    background:rgb(20, 101, 116);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

#resumé a:hover {
    background:rgb(90, 223, 247);
    color: rgb(15, 79, 90);
}

/*footer*/
footer {
    margin-bottom: 10px;
    margin-left: 10px;
}

@media (max-width: 1180px) {
    .other-projects img {
        width: 43%;
    }
}

@media (max-width: 970px) {
    header {
        text-align: center;
    }

    nav {
        float: none;
        text-align: center;
    }

    #myself {
        left: 38%;
    }

    #first-project img {
        width: 80%;
        height: 400px;
        margin-bottom: 15px;
    }

    #first-project p {
        left: 25px;
        bottom: 35px;
    }

    .other-projects img {
        width: 70%;
        margin: 10px;
    }
}

@media (max-width: 730px) {
    #myself {
        left: 34%;
    }
}

@media (max-width: 620px) {
    #myself {
        left: 32%;
    }
}