:root {
    --textColor: white;
    --backgroundColor: rgb(20, 101, 116);
    --hoverColor: rgb(90, 223, 247);
    --hoverText: rgb(15, 79, 90);
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(29, 143, 163);
    color: var(--textColor);
}

hr {
    width: 30%;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.5;
}

/*header*/
header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: var(--backgroundColor);
    padding: 20px;
}

h1 {
    display: inline-block;
    font-size: 60px;
    margin-left: 15px;
}

nav {
    font-size: 25px;
    float: right;
    margin-top: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: var(--textColor);
}

nav a:hover {
    color: var(--hoverColor);
}

/*figure*/
figure {
    width: 100%;
    height: 300px;
    background: url(../images/starry-night.jpg)
}

#myself {
    width: 210px;
    height: 260px;
    border-radius: 105px;
    border: 2px solid var(--textColor);
    margin-left: 130px;
    margin-top: 18px;
}

/*about me*/
#about-me {
    margin: 10px 30px;
    text-align: center;
}

/*skills*/
#skills {
    margin: 30px 30px;
    text-align: center;
}

#skills ul {
    line-height: 2;
}

#skills span {
    font-weight: bold;
}

/*projects*/
#projects {
    margin: 30px 10px 10px 10px;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

i {
    color: var(--textColor);
}

i:hover {
    color: var(--hoverText);
}

/*big image*/
#first-card {
    border-radius: 20px;
    border: 5px dashed var(--backgroundColor);
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
    padding: 2px;
}

#first-project {
    text-decoration: none;
    color: var(--textColor);
    position: relative;
    
}

#first-project img {
    width: 98%;
    height: 500px;
    margin: 10px auto;
    border-radius: 20px;
}

#first-project p {
    background: var(--backgroundColor);
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    line-height: 1.3;
}

#first-project img:hover {
    border: 5px solid var(--hoverColor);
}

/*small images*/
#container {
    display: inline-flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 20px;
    border: 5px dashed var(--backgroundColor);
    width: 45%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 2px;
}

.other-projects img {
    width: 95%;
    height: 350px;
    border-radius: 20px;
    margin: 10px auto;
}

.other-projects p {
    background: var(--backgroundColor);
    left: 35px;
    bottom: 35px;
    padding: 5px;
    border-radius: 10px;
    line-height: 1.3;
}

.other-projects img:hover {
    border: 5px solid var(--hoverColor);
}

/*contact me*/
#contact-me {
    text-align: center;
}

#contact-me p {
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact-me li {
    display: inline;
    padding: 10px;
}

#contact-me a {
    color: var(--textColor);
}

#contact-me a:hover {
    color: var(--hoverText);
}

/*resumé*/
#resumé {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#resumé a {
    text-decoration: none;
    color: var(--textColor);
    background: var(--backgroundColor);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

#resumé a:hover {
    background:var(--hoverColor);
    color: var(--hoverText);
}

/*footer*/
footer {
    margin-bottom: 10px;
    margin-left: 10px;
}

/* media queries*/
@media (max-width: 970px) {
    header {
        text-align: center;
    }
    nav {
        float: none;
        text-align: center;
    }
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    hr {
        width: 45%
    }
    #myself {
        margin: auto;
    }
    #first-project img {
        height: 400px;
        margin-bottom: 15px;
    }
    #first-project p {
        left: 25px;
        bottom: 35px;
    }
    .other-projects img {
        height: 300px;
    }
}

@media (max-width: 600px) {
    nav a {
        line-height: 1.5;
    }
    #contact-me a {
        line-height: 2;
    }
    footer {
        margin-top: 20px;
    }
    hr {
        width: 70%;
    }
    #first-card {
        width: 95%;
    }
    #first-project img {
        height: 300px;
    }
    .card {
        width: 95%;
    }
    .other-projects img {
        height: 250px;
    }
    #contact-me li {
        display: block;
        padding: 0px;
    }
}

@media (max-width: 400px) {
    hr {
        width: 90%;
    }
    .other-projects p {
        left: 20px;
        bottom: 25px;
    }
    .other-projects img {
        width: 95%;
        height: 200px;
    }
    #first-project img {
        height: 250px;
    }
}